[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
python-multipart = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
pre-commit = "*"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.12"
